/* 
base.css
Description: Base styles and global typography for PWAkedex
Author: Oscar Collins
*/

/* GLOBAL STYLES_______________________________________________________________ */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #3b7085;
    min-height: 100vh;
    margin: 0;
}
