/* 
navbar.css
Description: Navigation bar styles for PWAkedex
Author: Oscar Collins
*/

/* NAVBAR STYLES_______________________________________________________________ */

#main-navbar {
    background-color: #b43652;
}
