/* 
style.css
Description: Main stylesheet that imports all modular CSS files for PWAkedex
Author: Oscar Collins
AI usage: Refactored and modularized
*/

/* IMPORT MODULAR STYLESHEETS__________________________________________________ */

@import url('base.css');
@import url('navbar.css');
@import url('search.css');
@import url('pokemon-grid.css');
@import url('pokemon-detail.css');
@import url('components.css');